@media screen and (orientation: landscape) {
    .categories {
        display: grid;
        grid-template-columns: auto 33vw 8vw 33vw auto;
        grid-template-rows: 8vh auto 8vh auto 8vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #irl {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #gaming {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #music {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    #art {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .image > img {
        width: 33vw;
        height: auto;
    }

    .image > P {
        position: absolute;
        top: 10%;
    }
}

@media screen and (orientation: portrait) {
    .categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        text-align: center;
    }

    .image > img {
        margin-top: 4%;
        width: 50%;
        height: auto;
    }

    .image > P {
        position: absolute;
        top: 5vh;
        left: 25vw;
    }

    #art {
        margin-bottom: 2.5vh;
    }
}