@media screen and (orientation: landscape) {
    .header-landscape {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-portrait {
        display: none;
    }

    .profileImg {
        height: 10vh;
    }

    footer > .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (orientation: portrait) {
    .header-landscape {
        display: none;
    }

    .header-portrait {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .profileImg {
        height: 10vh;
    }

    footer > .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}