@media (prefers-reduced-motion: no-preference) {
    .spinning {
        animation: spin infinite 30s linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
